/* Responsividade para celulares em geral */
@media (max-width: 767px) {
    body {
        font-size: 16px;
        padding: 10px;
    }
    .container {
        width: 100%;
        padding: 0 5px;
    }
    header, footer, nav, main, section, article {
        padding: 10px 0;
    }
    img, video {
        max-width: 100%;
        height: auto;
    }
    .menu {
        display: block;
        font-size: 18px;
    }
}

/* Responsividade para tablets em geral */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px;
        padding: 20px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0 15px;
    }
    header, footer, nav, main, section, article {
        padding: 15px 0;
    }
    .menu {
        display: flex;
        font-size: 20px;
        justify-content: space-between;
    }
}

/* Responsividade para computadores em geral */
@media (min-width: 1025px) {
    body {
        font-size: 20px;
        padding: 30px;
    }
    .container {
        width: 70%;
        margin: 0 auto;
        padding: 0 30px;
    }
    header, footer, nav, main, section, article {
        padding: 20px 0;
    }
    .menu {
        display: flex;
        font-size: 22px;
        justify-content: space-between;
    }
}